anthropic
einops
hydra-core
kornia
numpy
omegaconf
open_clip_torch
openai
pandas
Pillow
protobuf
pytorch_lightning
PyYAML
Requests
tenacity
torch
torchgeo
torchvision
tqdm
wandb
clip @ git+https://github.com/openai/CLIP.git
transformers